[submodule "colcon_ws/src/urg_node2"]
	path = colcon_ws/src/urg_node2
	url = https://github.com/Hokuyo-aut/urg_node2.git
[submodule "colcon_ws/src/CoRE_AutoRobot_2024_sample"]
	path = colcon_ws/src/CoRE_AutoRobot_2024_sample
	url = https://github.com/scramble-robot/CoRE_AutoRobot_2024_sample.git
[submodule "colcon_ws/src/tkg_autorobot_controller"]
	path = colcon_ws/src/tkg_autorobot_controller
	url = https://github.com/TKG-Tou-Kai-Group/tkg_autorobot_controller.git
[submodule "colcon_ws/src/tkg_catch_ball_launcher"]
	path = colcon_ws/src/tkg_catch_ball_launcher
	url = https://github.com/TKG-Tou-Kai-Group/tkg_catch_ball_launcher.git
